{% if messages %}
    <div class="container" style="display:none;">
        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                {{ message }}
                <!--
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                -->
            </div>
        {% endfor %}
    </div>
{% endif %}
<script>
$(document).ready(function(){
    $.notify.addStyle("bootstrap_noimage", {
        html: "<div>\n<span data-notify-text></span>\n</div>",
        classes: {
            base: {
                "font-weight": "bold",
                "padding": "8px 15px 8px 14px",
                "text-shadow": "0 1px 0 rgba(255, 255, 255, 0.5)",
                "background-color": "#fcf8e3",
                "border": "1px solid #fbeed5",
                "border-radius": "4px",
                "white-space": "nowrap",
                "padding-left": "25px",
                "background-repeat": "no-repeat",
                "background-position": "3px 7px"
            },
            error: {
                "color": "#B94A48",
                "background-color": "#F2DEDE",
                "border-color": "#EED3D7",
            },
            success: {
                "color": "#468847",
                "background-color": "#DFF0D8",
                "border-color": "#D6E9C6",
            },
            info: {
                "color": "#3A87AD",
                "background-color": "#D9EDF7",
                "border-color": "#BCE8F1",
            },
            warn: {
                "color": "#C09853",
                "background-color": "#FCF8E3",
                "border-color": "#FBEED5",
            }
        }
    });
    $('.alert').each(function(i)
    {
        var alert_text = $(this).text();
        if (alert_text != null && alert_text != '')
        {
            var alert_type = 'success'
            if ($(this).hasClass('alert-success'))
            {
                alert_type = 'success';
            }
            else if ($(this).hasClass('alert-info'))
            {
                alert_type = 'info';
            }
            else if ($(this).hasClass('alert-warning'))
            {
                alert_type = 'warn';
            }
            else if ($(this).hasClass('alert-danger'))
            {
                alert_type = 'error';
            }
            $.notify(
                alert_text,
                {
                    style: 'bootstrap_noimage',
                    className: alert_type,
                    globalPosition: 'bottom right',
                }
            );
        }
    });
});
</script>